# package Control - recomended ignore files from here: https://sublime.wbond.net/docs/syncing
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
